<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_02RJQO8FEei5ILPGX8h-tQ" specification="@EventDriven&#10;// Use the event driven execution model.&#10;// Runs a run-to-completion step&#10;// each time an event is raised.&#10;// Switch to cycle based behavior&#10;// by specifying '@CycleBased(200)'&#10;// instead.&#10;&#10;@ChildFirstExecution&#10;// In composite states, execute&#10;// child states first.&#10;// @ParentFirstExecution does the opposite.&#10;&#10;interface:&#10;const x : integer = 0" name="IncrementOrDecrementOnConst">
    <regions xmi:id="_02XP4-8FEei5ILPGX8h-tQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_02fLse8FEei5ILPGX8h-tQ">
        <outgoingTransitions xmi:id="_02kEMe8FEei5ILPGX8h-tQ" target="_02hn8e8FEei5ILPGX8h-tQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_02hn8e8FEei5ILPGX8h-tQ" specification="entry/&#10;x++;&#10;x--" name="StateA" incomingTransitions="_02kEMe8FEei5ILPGX8h-tQ"/>
    </regions>
    <annotations>
      <type href="#|::0.8.0::0::/1"/>
    </annotations>
    <annotations>
      <type href="#|::0.8.1::0::/9"/>
    </annotations>
  </sgraph:Statechart>
  </xmi:XMI>