<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_6X_HIJb4EeaV2szGjmHbvg" specification="interface Usr:&#10;// Define events&#10;in event submit_info&#10;in event selects_create&#10;in event selects_show&#10;in event selects_update&#10;in event selects_delete&#10;in event save&#10;in event close&#10;in event cancel&#10;in event return_ToMain&#10;&#10;// and variables here&#10;&#10;interface Cal:&#10;in event query_user&#10;in event start_session&#10;in event info_verified&#10;in event info_rejected&#10;in event close_session" name="toDoListSimple">
    <regions xmi:id="_6Yju4Jb4EeaV2szGjmHbvg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_6Y0NkZb4EeaV2szGjmHbvg">
        <outgoingTransitions xmi:id="_6Y8wcZb4EeaV2szGjmHbvg" target="_6Y338Zb4EeaV2szGjmHbvg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6Y338Zb4EeaV2szGjmHbvg" name="LogIn" incomingTransitions="_6Y8wcZb4EeaV2szGjmHbvg">
        <outgoingTransitions xmi:id="_WJEBYJb5EeaV2szGjmHbvg" specification="Cal.start_session" target="_JbcfQJb5EeaV2szGjmHbvg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_JbcfQJb5EeaV2szGjmHbvg" name="ManageTaskList" incomingTransitions="_WJEBYJb5EeaV2szGjmHbvg">
        <outgoingTransitions xmi:id="_j-7lAJb5EeaV2szGjmHbvg" specification="Usr.close" target="_PRtvEJb5EeaV2szGjmHbvg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_PRtvEJb5EeaV2szGjmHbvg" name="LogOut" incomingTransitions="_j-7lAJb5EeaV2szGjmHbvg">
        <outgoingTransitions xmi:id="_qO35EJb5EeaV2szGjmHbvg" specification="Cal.close_session" target="_onUFYJb5EeaV2szGjmHbvg"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_onUFYJb5EeaV2szGjmHbvg" incomingTransitions="_qO35EJb5EeaV2szGjmHbvg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>