<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_Yd0G4A2-EeS5MPIeAGHZqw" specification="internal:&#10;event a&#10;var x : integer" name="ValidTransitionToInnerChoice">
    <regions xmi:id="_Yd18Eg2-EeS5MPIeAGHZqw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Yd9Q0Q2-EeS5MPIeAGHZqw">
        <outgoingTransitions xmi:id="_YeAUIA2-EeS5MPIeAGHZqw" target="_Yd935w2-EeS5MPIeAGHZqw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Yd935w2-EeS5MPIeAGHZqw" name="start" incomingTransitions="_YeAUIA2-EeS5MPIeAGHZqw">
        <outgoingTransitions xmi:id="_r0H0QA2-EeS5MPIeAGHZqw" specification="a" target="_jG2iIA2-EeS5MPIeAGHZqw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_atMIgA2-EeS5MPIeAGHZqw" specification="entry / x=2" name="compound">
        <regions xmi:id="_d998wA2-EeS5MPIeAGHZqw" name="r1">
          <vertices xsi:type="sgraph:Choice" xmi:id="_jG2iIA2-EeS5MPIeAGHZqw" incomingTransitions="_r0H0QA2-EeS5MPIeAGHZqw">
            <outgoingTransitions xmi:id="_vLKokA2-EeS5MPIeAGHZqw" specification="[x==2]" target="_tRvBwA2-EeS5MPIeAGHZqw"/>
            <outgoingTransitions xmi:id="__vCqkA2-EeS5MPIeAGHZqw" specification="default" target="__OQRsA2-EeS5MPIeAGHZqw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_tRvBwA2-EeS5MPIeAGHZqw" specification="entry / x+=3" name="Inside" incomingTransitions="_vLKokA2-EeS5MPIeAGHZqw"/>
          <vertices xsi:type="sgraph:FinalState" xmi:id="__OQRsA2-EeS5MPIeAGHZqw" incomingTransitions="__vCqkA2-EeS5MPIeAGHZqw"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>