<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_C7hgcAJTEeKgI6gPkT8J7A" specification="interface: &#13;&#10;var erg : integer&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;" name="Parenthesis">
    <regions xmi:id="_C7jVoAJTEeKgI6gPkT8J7A" name="mainRegion">
      <vertices xsi:type="sgraph:Entry" xmi:id="_C7oOIQJTEeKgI6gPkT8J7A">
        <outgoingTransitions xmi:id="_C7qqZQJTEeKgI6gPkT8J7A" target="_C7pcQQJTEeKgI6gPkT8J7A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_C7pcQQJTEeKgI6gPkT8J7A" specification="entry /&#13;&#10;erg =  4* (3 -1)&#13;&#10;" name="A" incomingTransitions="_C7qqZQJTEeKgI6gPkT8J7A"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>