<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_kqCbYNEuEeijtNCwAzcGOw" specification="internal:&#10;var y : integer&#10;var x:integer " name="BitwiseExecutionOrder">
    <regions xmi:id="_kqhjkNEuEeijtNCwAzcGOw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_kq26wNEuEeijtNCwAzcGOw">
        <outgoingTransitions xmi:id="_krAEsNEuEeijtNCwAzcGOw" target="_0W0dUNEuEeijtNCwAzcGOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_0W0dUNEuEeijtNCwAzcGOw" specification="entry / &#10;// C output is 3&#10;y  = 3|4^5;&#10;// C output is 7&#10;x = 3|4^5&amp;1 &#10;&#10;" name="StateB" incomingTransitions="_krAEsNEuEeijtNCwAzcGOw">
        <outgoingTransitions xmi:id="_9mlYgNEuEeijtNCwAzcGOw" specification="[y==3 &amp;&amp; x == 7]" target="_wnlWANEvEeijtNCwAzcGOw"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_wnlWANEvEeijtNCwAzcGOw" incomingTransitions="_9mlYgNEuEeijtNCwAzcGOw"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>