<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_1_y9UOr8EeOY6Jei9gSPQw" specification="" name="test23">
    <regions xmi:id="_1_zkYur8EeOY6Jei9gSPQw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_1_0yger8EeOY6Jei9gSPQw">
        <outgoingTransitions xmi:id="_1_2ns-r8EeOY6Jei9gSPQw" target="_1_1ZlOr8EeOY6Jei9gSPQw"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_3ErhwOr8EeOY6Jei9gSPQw" incomingTransitions="_3a30MOr8EeOY6Jei9gSPQw"/>
      <vertices xsi:type="sgraph:State" xmi:id="_4os5QOr8EeOY6Jei9gSPQw" specification="" name="Composite_Composite_A">
        <regions xmi:id="_4otgUOr8EeOY6Jei9gSPQw" name="inner region">
          <vertices xsi:type="sgraph:State" xmi:id="_34DfcOr8EeOY6Jei9gSPQw" specification="" name="Composite_A">
            <regions xmi:id="_34EGgOr8EeOY6Jei9gSPQw" name="inner region">
              <vertices xsi:type="sgraph:State" xmi:id="_1_1ZlOr8EeOY6Jei9gSPQw" specification="" name="A" incomingTransitions="_1_2ns-r8EeOY6Jei9gSPQw">
                <outgoingTransitions xmi:id="_3a30MOr8EeOY6Jei9gSPQw" specification="" target="_3ErhwOr8EeOY6Jei9gSPQw"/>
              </vertices>
            </regions>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>