<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_GQZKwE4VEeSulY-Gwg9bCg" specification="interface:&#10;  var currentFloor:integer = 0&#10;  var destination: integer = 0&#10;  in event floor : integer" name="Elevator">
    <regions xmi:id="_GQZx0k4VEeSulY-Gwg9bCg" name="main">
      <vertices xsi:type="sgraph:Entry" xmi:id="_GQaY5k4VEeSulY-Gwg9bCg">
        <outgoingTransitions xmi:id="_GQcOFU4VEeSulY-Gwg9bCg" specification="" target="_GQa_904VEeSulY-Gwg9bCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_GQa_904VEeSulY-Gwg9bCg" name="Idle" incomingTransitions="_GQcOFU4VEeSulY-Gwg9bCg _wrT74E4YEeSG6PLlYeXe0A">
        <outgoingTransitions xmi:id="_dSeUYE4XEeSG6PLlYeXe0A" specification="floor&#10;[ valueof(floor) &lt; currentFloor &#10;&#9;&amp;&amp; valueof(floor) &gt;=0 ]&#10;/ destination = valueof(floor)" target="_ajgMsE4XEeSG6PLlYeXe0A"/>
        <outgoingTransitions xmi:id="_QFfDwE4ZEeSG6PLlYeXe0A" specification="after 5s&#10;[currentFloor &gt; 0]&#10;/ destination = 0" target="_ajgMsE4XEeSG6PLlYeXe0A"/>
        <outgoingTransitions xmi:id="_mn95YIJBEee0Mc0zC9qeqg" specification="floor&#10;[ valueof(floor) &gt; currentFloor ]&#10;/ destination = valueof(floor)" target="_ZgBoYE4VEeSulY-Gwg9bCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_O5_9gE4YEeSG6PLlYeXe0A" name="Moving">
        <outgoingTransitions xmi:id="_wrT74E4YEeSG6PLlYeXe0A" specification="[destination == currentFloor]" target="_GQa_904VEeSulY-Gwg9bCg"/>
        <regions xmi:id="_O6AkkE4YEeSG6PLlYeXe0A" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_ZgBoYE4VEeSulY-Gwg9bCg" specification="entry / currentFloor=currentFloor+1&#10; " name="MovingUp" incomingTransitions="_WGTMIE4YEeSG6PLlYeXe0A _mn95YIJBEee0Mc0zC9qeqg">
            <outgoingTransitions xmi:id="_WGTMIE4YEeSG6PLlYeXe0A" specification="[currentFloor &lt; destination]&#10;" target="_ZgBoYE4VEeSulY-Gwg9bCg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ajgMsE4XEeSG6PLlYeXe0A" specification="entry / currentFloor = currentFloor - 1" name="MovingDown" incomingTransitions="_dSeUYE4XEeSG6PLlYeXe0A _8sqN4E4YEeSG6PLlYeXe0A _QFfDwE4ZEeSG6PLlYeXe0A">
            <outgoingTransitions xmi:id="_8sqN4E4YEeSG6PLlYeXe0A" specification="[currentFloor &gt; destination]" target="_ajgMsE4XEeSG6PLlYeXe0A"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>