<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_VyneMPcMEeiLeKhw9zVCjQ" specification="@EventDriven&#10;// Use the event driven execution model.&#10;// Runs a run-to-completion step&#10;// each time an event is raised.&#10;// Switch to cycle based behavior&#10;// by specifying '@CycleBased(200)'&#10;// instead.&#10;&#10;@ChildFirstExecution&#10;// In composite states, execute&#10;// child states first.&#10;// @ParentFirstExecution does the opposite.&#10;&#10;interface:&#10;// Define events&#10;// and variables here. &#10;// Use CTRL + Space for content assist." name="DefaultAndElseOnRegularState">
    <regions xmi:id="_VyosU_cMEeiLeKhw9zVCjQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Vys9wfcMEeiLeKhw9zVCjQ">
        <outgoingTransitions xmi:id="_Vyuy9fcMEeiLeKhw9zVCjQ" target="_Vytk1_cMEeiLeKhw9zVCjQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Vytk1_cMEeiLeKhw9zVCjQ" name="StateA" incomingTransitions="_Vyuy9fcMEeiLeKhw9zVCjQ">
        <outgoingTransitions xmi:id="_hnOUsPcMEeiLeKhw9zVCjQ" specification="default // shoud be validated" target="_i5_kIPcMEeiLeKhw9zVCjQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_i5_kIPcMEeiLeKhw9zVCjQ" name="StateB" incomingTransitions="_hnOUsPcMEeiLeKhw9zVCjQ">
        <outgoingTransitions xmi:id="_nSzXcPcMEeiLeKhw9zVCjQ" specification="else // shoud be validated" target="_mQuPYPcMEeiLeKhw9zVCjQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_mQuPYPcMEeiLeKhw9zVCjQ" name="StateC" incomingTransitions="_nSzXcPcMEeiLeKhw9zVCjQ">
        <outgoingTransitions xmi:id="_qR_scPcMEeiLeKhw9zVCjQ" specification="always" target="_of1yUPcMEeiLeKhw9zVCjQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_of1yUPcMEeiLeKhw9zVCjQ" name="StateD" incomingTransitions="_qR_scPcMEeiLeKhw9zVCjQ">
        <outgoingTransitions xmi:id="_fpAfEPcNEeiZkoPFATvnrA" specification="oncycle" target="_eUPrkPcNEeiZkoPFATvnrA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_eUPrkPcNEeiZkoPFATvnrA" name="StateE" incomingTransitions="_fpAfEPcNEeiZkoPFATvnrA"/>
    </regions>
    <annotations>
      <type href="#|::0.8.0::0::/1"/>
    </annotations>
    <annotations>
      <type href="#|::0.8.1::0::/9"/>
    </annotations>
    <annotations xmi:id="_Pik8IvcPEeiNf7efOPtMZA">
      <type href="#|::0.8.0::0::/1"/>
    </annotations>
    <annotations xmi:id="_PiljMPcPEeiNf7efOPtMZA">
      <type href="#|::0.8.1::0::/9"/>
    </annotations>
    <annotations xmi:id="_9gCjwPcOEei9eutJGxFOqw">
      <type href="#|::0.8.0::0::/1"/>
    </annotations>
    <annotations xmi:id="_9gCjwfcOEei9eutJGxFOqw">
      <type href="#|::0.8.1::0::/9"/>
    </annotations>
    <annotations xmi:id="_Aa4PIPcNEeiZkoPFATvnrA">
      <type href="#|::0.8.0::0::/1"/>
    </annotations>
    <annotations xmi:id="_Aa5dQPcNEeiZkoPFATvnrA">
      <type href="#|::0.8.1::0::/9"/>
    </annotations>
    <annotations xmi:id="_V1S-wvcMEeiLeKhw9zVCjQ">
      <type href="#|::0.8.0::0::/1"/>
    </annotations>
    <annotations xmi:id="_V1Tl0PcMEeiLeKhw9zVCjQ">
      <type href="#|::0.8.1::0::/9"/>
    </annotations>
  </sgraph:Statechart>
  </xmi:XMI>