<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_lq1DEXjVEeGKl8JlHfi_Yg" specification="interface:&#13;&#10;in event Event1 : void" name="StateIsActive">
    <regions xmi:id="_lsG1cHjVEeGKl8JlHfi_Yg" name="R1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_lsyx8HjVEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_ltBbcHjVEeGKl8JlHfi_Yg" target="_ls2cUHjVEeGKl8JlHfi_Yg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ls2cUHjVEeGKl8JlHfi_Yg" name="R1A" incomingTransitions="_ltBbcHjVEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_6nFakHjVEeGKl8JlHfi_Yg" specification="[active(StateIsActive.R2.R2B)]" target="_41ycEHjVEeGKl8JlHfi_Yg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_41ycEHjVEeGKl8JlHfi_Yg" name="R1B" incomingTransitions="_6nFakHjVEeGKl8JlHfi_Yg"/>
    </regions>
    <regions xmi:id="_EF8hsHjWEeGKl8JlHfi_Yg" name="R2">
      <vertices xsi:type="sgraph:Entry" xmi:id="_E-U7MHjWEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_F1MRwHjWEeGKl8JlHfi_Yg" specification="" target="_FVbzoHjWEeGKl8JlHfi_Yg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_FVbzoHjWEeGKl8JlHfi_Yg" name="R2A" incomingTransitions="_F1MRwHjWEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_KwaOkHjWEeGKl8JlHfi_Yg" specification="Event1" target="_Jk9IEHjWEeGKl8JlHfi_Yg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Jk9IEHjWEeGKl8JlHfi_Yg" name="R2B" incomingTransitions="_KwaOkHjWEeGKl8JlHfi_Yg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>