<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_LT_sIOcIEeq8EuInK88Pew" specification="@EventDriven&#10;// Use the event driven execution model.&#10;// Runs a run-to-completion step&#10;// each time an event is raised.&#10;// Switch to cycle based behavior&#10;// by specifying '@CycleBased(200)'&#10;// instead.&#10;&#10;@ChildFirstExecution&#10;// In composite states, execute&#10;// child states first.&#10;// @ParentFirstExecution does the opposite.&#10;&#10;interface:&#10;// Define events&#10;// and variables here. &#10;// Use CTRL + Space for content assist." name="network-interface">
    <regions xmi:id="_LUL5Y-cIEeq8EuInK88Pew" name="network-interface">
      <vertices xsi:type="sgraph:Entry" xmi:id="_LXynAecIEeq8EuInK88Pew">
        <outgoingTransitions xmi:id="_LX57wOcIEeq8EuInK88Pew" target="_LX1qUecIEeq8EuInK88Pew"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LX1qUecIEeq8EuInK88Pew" specification="" name="WAIT" incomingTransitions="_LX57wOcIEeq8EuInK88Pew">
        <outgoingTransitions xmi:id="_JhSi8OcJEeq8EuInK88Pew" specification="" target="_HGUVUOcJEeq8EuInK88Pew"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_HGUVUOcJEeq8EuInK88Pew" incomingTransitions="_JhSi8OcJEeq8EuInK88Pew"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>