<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_Ip7rQEJhEea98I1L85FNNA" specification="interface:&#10;&#9;operation setLight(lightOn: boolean): void" name="LightSwitch">
    <regions xmi:id="_Ip9gdEJhEea98I1L85FNNA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Ip_VoUJhEea98I1L85FNNA">
        <outgoingTransitions xmi:id="_IqDAAUJhEea98I1L85FNNA" target="_Ip_8t0JhEea98I1L85FNNA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ip_8t0JhEea98I1L85FNNA" name="off" incomingTransitions="_IqDAAUJhEea98I1L85FNNA _S5pAgEJhEea98I1L85FNNA">
        <outgoingTransitions xmi:id="_QTs5AEJhEea98I1L85FNNA" specification="after 2s / setLight(true)" target="_PEsvQEJhEea98I1L85FNNA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_PEsvQEJhEea98I1L85FNNA" name="on" incomingTransitions="_QTs5AEJhEea98I1L85FNNA">
        <outgoingTransitions xmi:id="_S5pAgEJhEea98I1L85FNNA" specification="after 2s / setLight(false)" target="_Ip_8t0JhEea98I1L85FNNA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>