<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_zeb_4DqeEeW2x7dgG-q-Eg" specification="internal:&#13;&#10;local event usedEvent : integer&#13;&#10;local event unusedEvent: integer&#13;&#10;var usedVariable : integer&#13;&#10;var unusedVariable : integer&#13;&#10;operation usedOperation() : integer&#13;&#10;operation nusedOperation() : integer&#13;&#10;&#13;&#10;" name="UnusedInternalDeclarations">
    <regions xmi:id="_zed1EjqeEeW2x7dgG-q-Eg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_zeitkjqeEeW2x7dgG-q-Eg">
        <outgoingTransitions xmi:id="_zelJ0TqeEeW2x7dgG-q-Eg" target="_zejUpzqeEeW2x7dgG-q-Eg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zejUpzqeEeW2x7dgG-q-Eg" specification="entry / usedVariable = 1" name="A" incomingTransitions="_zelJ0TqeEeW2x7dgG-q-Eg _KStB4DqfEeW2x7dgG-q-Eg">
        <outgoingTransitions xmi:id="_59pfADqeEeW2x7dgG-q-Eg" specification="usedEvent" target="_5aa2IDqeEeW2x7dgG-q-Eg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5aa2IDqeEeW2x7dgG-q-Eg" name="B" incomingTransitions="_59pfADqeEeW2x7dgG-q-Eg">
        <outgoingTransitions xmi:id="_KStB4DqfEeW2x7dgG-q-Eg" specification="after usedOperation s" target="_zejUpzqeEeW2x7dgG-q-Eg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>