<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_7XbdgEhvEei7VrcvMYEoCg" specification="@EventDriven&#10;@ChildFirstExecution&#10;&#10;import: &quot;../../../repos/apache-mynewt-core/hw/bsp/native/include/bsp/bsp.h&quot;&#10;import: &quot;../../../repos/apache-mynewt-core/hw/hal/include/hal/hal_gpio.h&quot;&#10;&#10;interface:&#10;&#10;in event on&#10;in event off&#10;var gpio: int32_t&#10;var period: uint32_t = 1000&#10;&#10;&#10;" name="blinklight" domainID="com.yakindu.domain.c">
    <regions xmi:id="_7YAsUEhvEei7VrcvMYEoCg" name="mr">
      <vertices xsi:type="sgraph:Entry" xmi:id="_7ZNmMEhvEei7VrcvMYEoCg">
        <outgoingTransitions xmi:id="_7ZTs0EhvEei7VrcvMYEoCg" target="_7ZO0UEhvEei7VrcvMYEoCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7ZO0UEhvEei7VrcvMYEoCg" specification="entry / hal_gpio_write(gpio,0)" name="Off" incomingTransitions="_7ZTs0EhvEei7VrcvMYEoCg _hozFALAeEeiENvlNTOHJTw">
        <outgoingTransitions xmi:id="_oEPOMEhyEei7VrcvMYEoCg" specification="on" target="_oEJHkEhyEei7VrcvMYEoCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_oEJHkEhyEei7VrcvMYEoCg" specification="" name="Blinking" incomingTransitions="_oEPOMEhyEei7VrcvMYEoCg">
        <outgoingTransitions xmi:id="_hozFALAeEeiENvlNTOHJTw" specification="off" target="_7ZO0UEhvEei7VrcvMYEoCg"/>
        <regions xmi:id="_skUh8LAfEeiENvlNTOHJTw" name="r">
          <vertices xsi:type="sgraph:Entry" xmi:id="_skUh8bAfEeiENvlNTOHJTw">
            <outgoingTransitions xmi:id="_skUh8rAfEeiENvlNTOHJTw" specification="" target="_skVJALAfEeiENvlNTOHJTw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_skVJALAfEeiENvlNTOHJTw" specification="entry / hal_gpio_write(gpio, 1)" name="Light" incomingTransitions="_skUh8rAfEeiENvlNTOHJTw _0VzhQLAfEeiENvlNTOHJTw">
            <outgoingTransitions xmi:id="_vV4qo7AfEeiENvlNTOHJTw" specification="after period/2 ms" target="_vV4qoLAfEeiENvlNTOHJTw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_vV4qoLAfEeiENvlNTOHJTw" specification="entry / hal_gpio_write(gpio, 0)" name="Dark" incomingTransitions="_vV4qo7AfEeiENvlNTOHJTw">
            <outgoingTransitions xmi:id="_0VzhQLAfEeiENvlNTOHJTw" specification="after period/2 ms " target="_skVJALAfEeiENvlNTOHJTw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>