<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_30cDAF7YEeia8qaYIFcaxQ" specification="interface:&#10;&#10;operation opBloquear(Estado:boolean): void&#10;operation opDesbloquear(Estado:boolean):void&#10;&#10;&#10;internal:&#10;&#10;var vContador:integer&#10;event evEmpujar&#10;event evMoneda&#10;&#10;const cCTE:integer = 1000&#10;const ON:boolean=true&#10;const OFF:boolean = false" name="Molinete">
    <regions xmi:id="_30wzIl7YEeia8qaYIFcaxQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_31S-pl7YEeia8qaYIFcaxQ">
        <outgoingTransitions xmi:id="_31nuwF7YEeia8qaYIFcaxQ" specification="/vContador = 0" target="_31gaAV7YEeia8qaYIFcaxQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_31gaAV7YEeia8qaYIFcaxQ" specification="entry/opBloquear(ON)&#13;&#10;exit/opDesbloquear(ON)" name="Bloqueado" incomingTransitions="_31nuwF7YEeia8qaYIFcaxQ _i98YcF7cEeia8qaYIFcaxQ _m0AEAF7cEeia8qaYIFcaxQ">
        <outgoingTransitions xmi:id="_TMG3YF7cEeia8qaYIFcaxQ" specification="evMoneda[vContador&lt;cCTE]/vContador+=1" target="_cSVG8F7aEeia8qaYIFcaxQ"/>
        <outgoingTransitions xmi:id="_m0AEAF7cEeia8qaYIFcaxQ" specification="evEmpujar" target="_31gaAV7YEeia8qaYIFcaxQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_cSVG8F7aEeia8qaYIFcaxQ" specification="exit/opBloquear(ON)&#13;&#10;&#13;&#10;[vContador == cCTE]/vContador = 0" name="Desbloqueado" incomingTransitions="_Qg51YF7cEeia8qaYIFcaxQ _TMG3YF7cEeia8qaYIFcaxQ">
        <outgoingTransitions xmi:id="_Qg51YF7cEeia8qaYIFcaxQ" specification="evMoneda" target="_cSVG8F7aEeia8qaYIFcaxQ"/>
        <outgoingTransitions xmi:id="_i98YcF7cEeia8qaYIFcaxQ" specification="evEmpujar" target="_31gaAV7YEeia8qaYIFcaxQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>