<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_pDbOUKjfEeqpyISzCuM8TA" specification="@EventDriven&#10;// Use the event driven execution model.&#10;// Runs a run-to-completion step&#10;// each time an event is raised.&#10;// Switch to cycle based behavior&#10;// by specifying '@CycleBased(200)'&#10;// instead.&#10;&#10;@ChildFirstExecution&#10;// In composite states, execute&#10;// child states first.&#10;// @ParentFirstExecution does the opposite.&#10;&#10;interface:&#10;in event evInactive&#10;in event evActive&#10;in event evTactMinTout&#10;in event evTactMaxTout&#10;in event evTinactMaxTout &#10;operation dispatch()&#10;operation init()" name="PulseCounterMgr">
    <regions xmi:id="_pDb1aKjfEeqpyISzCuM8TA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_pDdqkajfEeqpyISzCuM8TA">
        <outgoingTransitions xmi:id="_pDffxajfEeqpyISzCuM8TA" specification="/ init()" target="_pDeRpKjfEeqpyISzCuM8TA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_pDeRpKjfEeqpyISzCuM8TA" specification="evInactive / dispatch()&#10;evActive / dispatch()&#10;evTactMinTout / dispatch()&#10;evTactMaxTout / dispatch()&#10;evTinactMaxTout / dispatch()" name="Processing" incomingTransitions="_pDffxajfEeqpyISzCuM8TA"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>