<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_N8JVwMH0EeKwC41QCasuJA" name="TransitionWithoutCondition">
    <regions xmi:id="_N8JVw8H0EeKwC41QCasuJA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_N8MZE8H0EeKwC41QCasuJA">
        <outgoingTransitions xmi:id="_N8PcY8H0EeKwC41QCasuJA" target="_N8MZHsH0EeKwC41QCasuJA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_N8MZHsH0EeKwC41QCasuJA" name="A" incomingTransitions="_N8PcY8H0EeKwC41QCasuJA">
        <outgoingTransitions xmi:id="_Oz1ywMH0EeKwC41QCasuJA" specification="always" target="_OhVtgMH0EeKwC41QCasuJA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_OhVtgMH0EeKwC41QCasuJA" name="B" incomingTransitions="_Oz1ywMH0EeKwC41QCasuJA"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>