<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_MEOcMJLHEeGc3OFlLS8sJA" specification="interface:&#13;&#10;in event Event1" name="SimpleEvent">
    <regions xmi:id="_METUsZLHEeGc3OFlLS8sJA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_MFEwwZLHEeGc3OFlLS8sJA">
        <outgoingTransitions xmi:id="_MFMFgJLHEeGc3OFlLS8sJA" target="_MFHNBJLHEeGc3OFlLS8sJA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MFHNBJLHEeGc3OFlLS8sJA" name="A" incomingTransitions="_MFMFgJLHEeGc3OFlLS8sJA">
        <outgoingTransitions xmi:id="_QfOn4JLHEeGc3OFlLS8sJA" specification="Event1" target="_P5KGYJLHEeGc3OFlLS8sJA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_P5KGYJLHEeGc3OFlLS8sJA" name="B" incomingTransitions="_QfOn4JLHEeGc3OFlLS8sJA">
        <outgoingTransitions xmi:id="_iBHeENRjEeOsXeAQ9MK_iA" specification="always" target="_hCM-wNRjEeOsXeAQ9MK_iA"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_hCM-wNRjEeOsXeAQ9MK_iA" incomingTransitions="_iBHeENRjEeOsXeAQ9MK_iA"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>