<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_e2LuoIlsEeGdSfnRraevSA" specification="interface MyInterface:&#13;&#10;in event Event1&#13;&#10;var myInt : integer" name="FeatureCalls">
    <regions xmi:id="_e2R1QolsEeGdSfnRraevSA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_e3JX8IlsEeGdSfnRraevSA">
        <outgoingTransitions xmi:id="_e3QFoYlsEeGdSfnRraevSA" target="_e3L0MolsEeGdSfnRraevSA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_e3L0MolsEeGdSfnRraevSA" name="A" incomingTransitions="_e3QFoYlsEeGdSfnRraevSA _6_eWIKmNEeGHLMtw-ncbeA">
        <outgoingTransitions xmi:id="_lf50oIlsEeGdSfnRraevSA" specification="MyInterface.Event1" target="_kjQmMIlsEeGdSfnRraevSA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_kjQmMIlsEeGdSfnRraevSA" specification="entry / MyInterface.myInt = 42&#13;&#10;entry/ raise MyInterface.Event1" name="B" incomingTransitions="_lf50oIlsEeGdSfnRraevSA">
        <outgoingTransitions xmi:id="_6_eWIKmNEeGHLMtw-ncbeA" specification="MyInterface.Event1" target="_e3L0MolsEeGdSfnRraevSA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>