<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_DzWhkEM7EeG-xr5kMvujEg" name="ExpressionError01" specification="interface:&#10;var A:integer&#10;">
    <regions xmi:id="_DzXvsEM7EeG-xr5kMvujEg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_DzbaE0M7EeG-xr5kMvujEg">
        <outgoingTransitions xmi:id="_Dzd2UEM7EeG-xr5kMvujEg" specification="" target="_DzcBJ0M7EeG-xr5kMvujEg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_DzcBJ0M7EeG-xr5kMvujEg" name="A" incomingTransitions="_Dzd2UEM7EeG-xr5kMvujEg">
        <outgoingTransitions xmi:id="_UuLrAEM7EeG-xr5kMvujEg" specification="entry / A= 0" target="_T7H2YEM7EeG-xr5kMvujEg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_T7H2YEM7EeG-xr5kMvujEg" name="B" incomingTransitions="_UuLrAEM7EeG-xr5kMvujEg">
        <outgoingTransitions xmi:id="_2O2lUEM7EeG-xr5kMvujEg" specification="exit / A = 0" target="_0WO20EM7EeG-xr5kMvujEg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_0WO20EM7EeG-xr5kMvujEg" name="C" incomingTransitions="_2O2lUEM7EeG-xr5kMvujEg">
        <outgoingTransitions xmi:id="_-A5lUEM7EeG-xr5kMvujEg" specification="oncycle / A = 0" target="_1sv90EM7EeG-xr5kMvujEg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1sv90EM7EeG-xr5kMvujEg" name="D" incomingTransitions="_-A5lUEM7EeG-xr5kMvujEg">
        <outgoingTransitions xmi:id="_H3iTQEM8EeG-xr5kMvujEg" specification="always / A = 0" target="_G9K8wEM8EeG-xr5kMvujEg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_G9K8wEM8EeG-xr5kMvujEg" name="E" incomingTransitions="_H3iTQEM8EeG-xr5kMvujEg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>