<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_4BZZ4LUDEee44Jzh7ZNNMg" specification="namespace solidity&#10;interface ABC:&#10;&#10;var x: uint&#10;// Define events and&#10;// and variables here. &#10;//Use CTRL + Space for content assist." namespace="solidity" name="Token" domainID="com.yakindu.domain.solidity">
    <regions xmi:id="_4BaoALUDEee44Jzh7ZNNMg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_4Bb2JrUDEee44Jzh7ZNNMg">
        <outgoingTransitions xmi:id="_4BguobUDEee44Jzh7ZNNMg" target="_4BdERLUDEee44Jzh7ZNNMg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4BdERLUDEee44Jzh7ZNNMg" name="StateA" incomingTransitions="_4BguobUDEee44Jzh7ZNNMg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>