<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_1Aw_kJSSEeqOHMd5pZFSZQ" specification="@EventDriven&#10;@ChildFirstExecution&#10;&#10;interface:&#10;" name="RegionWithoutState">
    <regions xmi:id="_1AyNs5SSEeqOHMd5pZFSZQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_1A4UUZSSEeqOHMd5pZFSZQ">
        <outgoingTransitions xmi:id="_1A6JhpSSEeqOHMd5pZFSZQ" target="_1A47Z5SSEeqOHMd5pZFSZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1A47Z5SSEeqOHMd5pZFSZQ" specification="/* This test model tests issue #3086. &#10; * Calculation of max parallel time events failed for regions &#10; * which contain no  State but a FinalState like in this example&#10; */" name="A" incomingTransitions="_1A6JhpSSEeqOHMd5pZFSZQ">
        <regions xmi:id="_2ww9kJSSEeqOHMd5pZFSZQ" name="no_state_region">
          <vertices xsi:type="sgraph:Entry" xmi:id="_3m-z4JSSEeqOHMd5pZFSZQ">
            <outgoingTransitions xmi:id="_5D-9YJSSEeqOHMd5pZFSZQ" target="_5D7TAJSSEeqOHMd5pZFSZQ"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_5D7TAJSSEeqOHMd5pZFSZQ" incomingTransitions="_5D-9YJSSEeqOHMd5pZFSZQ"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>