<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_borvkPR7EeKYZsO6tCRi-g" name="default">
    <regions xmi:id="_bpPwQPR7EeKYZsO6tCRi-g" name="">
      <vertices xsi:type="sgraph:Entry" xmi:id="_H4ZhUPSOEeKTtv0EBPAdFQ">
        <outgoingTransitions xmi:id="_KMlxgPSOEeKTtv0EBPAdFQ" specification="" target="_IZk7wPSOEeKTtv0EBPAdFQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_IZk7wPSOEeKTtv0EBPAdFQ" name="State1" incomingTransitions="_KMlxgPSOEeKTtv0EBPAdFQ"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>