<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_IPEiAI_CEeaE_NItBGtDFQ" specification="/* Blink LED3 EDU-CIA-NXP */&#13;&#10;&#13;&#10;interface:&#13;&#10;&#13;&#10;in event evTick&#13;&#10;&#13;&#10;operation opLED(LEDNumber:integer,&#13;&#10;&#9;State:boolean)&#13;&#10;&#13;&#10;//const LEDR: integer = 0&#13;&#10;//const LEDG: integer = 1&#13;&#10;//const LEDB: integer = 2&#13;&#10;//const LED1: integer = 3&#13;&#10;//const LED2: integer = 4&#13;&#10;const LED3: integer = 5&#13;&#10;&#13;&#10;const LED_ON: boolean = false&#13;&#10;const LED_OFF: boolean = true&#13;&#10;&#13;&#10;internal:&#13;&#10;&#13;&#10;var viTitilar: integer&#13;&#10;&#13;&#10;const ci250mS: integer = 250&#13;&#10;const ci500mS: integer = 500&#13;&#10;" name="prefix">
    <regions xmi:id="_IPEiA4_CEeaE_NItBGtDFQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_IPEiDY_CEeaE_NItBGtDFQ">
        <outgoingTransitions xmi:id="_XlKfgBMaEeevvbhLDk5fag" specification="" target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EvYFTRMaEeevvbhLDk5fag" specification="entry / opLED(LED3, LED_OFF); viTitilar = ci250mS&#13;&#10;evTick [viTitilar != 0] / viTitilar -= 1" name="APAGADO" incomingTransitions="_-DYHbMuIEeaJzKf0Ssal0Q _XlKfgBMaEeevvbhLDk5fag">
        <outgoingTransitions xmi:id="_-Dwh58uIEeaJzKf0Ssal0Q" specification="evTick[viTitilar == 0]" target="_GPX4bRMaEeevvbhLDk5fag"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_GPX4bRMaEeevvbhLDk5fag" specification="entry / opLED(LED3, LED_ON); viTitilar = ci500mS&#13;&#10;evTick [viTitilar != 0] / viTitilar -= 1" name="ENCENDIDO" incomingTransitions="_-Dwh58uIEeaJzKf0Ssal0Q">
        <outgoingTransitions xmi:id="_-DYHbMuIEeaJzKf0Ssal0Q" specification="evTick[viTitilar == 0]" target="_EvYFTRMaEeevvbhLDk5fag"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>