<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_TvpisM9oEeejKJ6u2IsdcA" specification="interface:&#10;operation defaultInterfaceOperation()&#10;&#10;interface named:&#10;operation namedInterfaceOperation()&#10;&#10;internal:&#10;operation internalInterfaceOperation()" name="UnimplementedOCB">
    <regions xmi:id="_Tvqw0s9oEeejKJ6u2IsdcA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_TvvpU89oEeejKJ6u2IsdcA">
        <outgoingTransitions xmi:id="_TvysoM9oEeejKJ6u2IsdcA" target="_Tvw3dM9oEeejKJ6u2IsdcA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Tvw3dM9oEeejKJ6u2IsdcA" name="StateA" incomingTransitions="_TvysoM9oEeejKJ6u2IsdcA">
        <outgoingTransitions xmi:id="_WkgP8M9oEeejKJ6u2IsdcA" specification="always" target="_Vx9YsM9oEeejKJ6u2IsdcA"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_Vx9YsM9oEeejKJ6u2IsdcA" incomingTransitions="_WkgP8M9oEeejKJ6u2IsdcA"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>