<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_bCk3wGdhEemjK8Eb7sHqBg" specification="@EventDriven&#10;@ChildFirstExecution&#10;&#10;import:&#10;&quot;header1.h&quot;&#10;&#10;interface:&#10;var result : int32_t&#10;var member :  struct1_t" name="G_deep_c_proxies" domainID="com.yakindu.domain.c">
    <regions xmi:id="_bCms82dhEemjK8Eb7sHqBg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_bCyTIWdhEemjK8Eb7sHqBg">
        <outgoingTransitions xmi:id="_bC1WcmdhEemjK8Eb7sHqBg" target="_bCzhRGdhEemjK8Eb7sHqBg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_bCzhRGdhEemjK8Eb7sHqBg" specification="entry / result = member.member.value" name="StateA" incomingTransitions="_bC1WcmdhEemjK8Eb7sHqBg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>