<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_5VSggG_lEeSjUp1iSfPc3g" specification="internal:&#13;&#10;var x : integer = 10&#13;&#10;const y :integer = x * 10&#13;&#10;&#13;&#10;interface ABC:&#13;&#10;var x : string = &quot;&quot;&#13;&#10;const y : string = ABC.x&#13;&#10;&#13;&#10;interface DEF:&#13;&#10;const z : integer" name="ValueWithVariable">
    <regions xmi:id="_5VU8wW_lEeSjUp1iSfPc3g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_5VZOM2_lEeSjUp1iSfPc3g">
        <outgoingTransitions xmi:id="_5VcRgW_lEeSjUp1iSfPc3g" target="_5VacVG_lEeSjUp1iSfPc3g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5VacVG_lEeSjUp1iSfPc3g" specification="" name="A" incomingTransitions="_5VcRgW_lEeSjUp1iSfPc3g">
        <outgoingTransitions xmi:id="_H0iT4EAREeWvWfsZWwe8Fw" specification="always [y == 0]" target="_HhFMYEAREeWvWfsZWwe8Fw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_HhFMYEAREeWvWfsZWwe8Fw" name="B" incomingTransitions="_H0iT4EAREeWvWfsZWwe8Fw"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>