<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_LuL4IKVUEeScuOFVbGbKIg" name="EmptyTransition">
    <regions xmi:id="_LuNGQqVUEeScuOFVbGbKIg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_LuQwpqVUEeScuOFVbGbKIg">
        <outgoingTransitions xmi:id="_LuSl1qVUEeScuOFVbGbKIg" target="_LuR-wKVUEeScuOFVbGbKIg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LuR-wKVUEeScuOFVbGbKIg" name="A" incomingTransitions="_LuSl1qVUEeScuOFVbGbKIg">
        <outgoingTransitions xmi:id="_M20UIKVUEeScuOFVbGbKIg" specification="" target="_Me5jYKVUEeScuOFVbGbKIg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Me5jYKVUEeScuOFVbGbKIg" name="B" incomingTransitions="_M20UIKVUEeScuOFVbGbKIg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>