<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_sXs0YG-3EeiAvKo30E3C2w" specification="@CycleBased(200)&#10;&#10;interface:&#10;// Define events and&#10;// and variables here. &#10;//Use CTRL + Space for content assist." name="UnusedExitPoint2">
    <regions xmi:id="_4sd7NG_DEeiAvKo30E3C2w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_4sqvg2_DEeiAvKo30E3C2w">
        <outgoingTransitions xmi:id="_4srWlG_DEeiAvKo30E3C2w" specification="" target="_4sfwbW_DEeiAvKo30E3C2w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4sfwbW_DEeiAvKo30E3C2w" name="StateB" incomingTransitions="_4srWlG_DEeiAvKo30E3C2w">
        <outgoingTransitions xmi:id="_4sphYm_DEeiAvKo30E3C2w" specification="# usedExitPoint &gt;" target="_4sfJUG_DEeiAvKo30E3C2w"/>
        <outgoingTransitions xmi:id="_NdI-sG_NEeicrs4tQMXmcQ" specification="" target="_M5b0sG_NEeicrs4tQMXmcQ"/>
        <regions xmi:id="_4siMoG_DEeiAvKo30E3C2w" name="r1">
          <vertices xsi:type="sgraph:Exit" xmi:id="_4so6UG_DEeiAvKo30E3C2w" name="unusedExitPoint" incomingTransitions="_4snsMG_DEeiAvKo30E3C2w"/>
          <vertices xsi:type="sgraph:Entry" xmi:id="_4sl3Bm_DEeiAvKo30E3C2w">
            <outgoingTransitions xmi:id="_4snFIG_DEeiAvKo30E3C2w" specification="" target="_4sizvG_DEeiAvKo30E3C2w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_4sizvG_DEeiAvKo30E3C2w" name="StateD" incomingTransitions="_4snFIG_DEeiAvKo30E3C2w">
            <outgoingTransitions xmi:id="_4snsMG_DEeiAvKo30E3C2w" specification="always" target="_4so6UG_DEeiAvKo30E3C2w"/>
            <outgoingTransitions xmi:id="_2pjLwG_EEeiAvKo30E3C2w" specification="always" target="_2ppSYG_EEeiAvKo30E3C2w"/>
            <outgoingTransitions xmi:id="_rczF0G_MEeicrs4tQMXmcQ" specification="always" target="_q-k4wG_MEeicrs4tQMXmcQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_2ppSYG_EEeiAvKo30E3C2w" incomingTransitions="_2pjLwG_EEeiAvKo30E3C2w"/>
          <vertices xsi:type="sgraph:Exit" xmi:id="_q-k4wG_MEeicrs4tQMXmcQ" name="usedExitPoint" incomingTransitions="_rczF0G_MEeicrs4tQMXmcQ"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4sfJUG_DEeiAvKo30E3C2w" name="StateC" incomingTransitions="_4sphYm_DEeiAvKo30E3C2w"/>
      <vertices xsi:type="sgraph:State" xmi:id="_M5b0sG_NEeicrs4tQMXmcQ" name="Default Exit" incomingTransitions="_NdI-sG_NEeicrs4tQMXmcQ"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>