<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_O0oeUF_XEeeu-5ul-MSOKQ" specification="interface:&#10;var PointA:point.Point&#10;var" name="buzzer" domainID="com.yakindu.domain.c">
    <regions xmi:id="_O1WQAF_XEeeu-5ul-MSOKQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_O3p9IF_XEeeu-5ul-MSOKQ">
        <outgoingTransitions xmi:id="_O4VSkF_XEeeu-5ul-MSOKQ" target="_O37p9F_XEeeu-5ul-MSOKQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_O37p9F_XEeeu-5ul-MSOKQ" name="StateA" incomingTransitions="_O4VSkF_XEeeu-5ul-MSOKQ"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>