<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="__m1L0Mr5EeOOvYj3llQW6Q" name="NullCheck">
    <regions xmi:id="__m6rYMr5EeOOvYj3llQW6Q" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="__nBZEMr5EeOOvYj3llQW6Q">
        <outgoingTransitions xmi:id="__nG4oMr5EeOOvYj3llQW6Q" target="__nDORMr5EeOOvYj3llQW6Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__nDORMr5EeOOvYj3llQW6Q" name="A" incomingTransitions="__nG4oMr5EeOOvYj3llQW6Q">
        <outgoingTransitions xmi:id="_ChXDQMr6EeOOvYj3llQW6Q" specification="[null == null]" target="_Cg6-YMr6EeOOvYj3llQW6Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Cg6-YMr6EeOOvYj3llQW6Q" name="B" incomingTransitions="_ChXDQMr6EeOOvYj3llQW6Q"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>