<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_N2f3AH1lEemog9NI6oqwUA" specification="@EventDriven&#10;@ChildFirstExecution&#10;&#10;interface:&#10;&#10;&#9;in event toggle&#10;&#10;&#9;out event tic&#10;&#9;out event toc&#10;&#10;&#9;var count: integer&#10;&#9;var delay: integer = 1000&#10;&#10;&#9;var x : integer = 5&#9;&#10;&#9;var b : boolean&#10;&#9;&#10;interface foo:&#10;&#10;&#9;var y : integer&#10;&#10;internal :&#10;&#9;var i : real&#10;&#10;&#10;" name="tictoc">
    <regions xmi:id="_N2hFI31lEemog9NI6oqwUA" name="main">
      <vertices xsi:type="sgraph:Entry" xmi:id="_N2ny0X1lEemog9NI6oqwUA">
        <outgoingTransitions xmi:id="_N2qPE31lEemog9NI6oqwUA" target="_N2pA9H1lEemog9NI6oqwUA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_N2pA9H1lEemog9NI6oqwUA" specification="entry / b = true; &#10;&#9;i = 42&#10;" name="Idle" incomingTransitions="_N2qPE31lEemog9NI6oqwUA _jS88UGJFEeq_Muvvd0rNAg">
        <outgoingTransitions xmi:id="_RBGVUH1mEemAUoGJRzf10w" specification="toggle, after 20s" target="_RBFHMH1mEemAUoGJRzf10w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RBFHMH1mEemAUoGJRzf10w" name="Playing" incomingTransitions="_RBGVUH1mEemAUoGJRzf10w">
        <outgoingTransitions xmi:id="_jS88UGJFEeq_Muvvd0rNAg" specification="toggle, after 20s" target="_N2pA9H1lEemog9NI6oqwUA"/>
        <regions xmi:id="_SqCpEH1mEemAUoGJRzf10w" name="active">
          <vertices xsi:type="sgraph:Entry" xmi:id="_SqCpEX1mEemAUoGJRzf10w">
            <outgoingTransitions xmi:id="_SqCpEn1mEemAUoGJRzf10w" specification="" target="_SqDQIH1mEemAUoGJRzf10w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_SqDQIH1mEemAUoGJRzf10w" specification="entry / raise tic&#10;exit / count = count + 1" name="Tic" incomingTransitions="_SqCpEn1mEemAUoGJRzf10w _Vx1gcH1mEemAUoGJRzf10w">
            <outgoingTransitions xmi:id="_UaGRc31mEemAUoGJRzf10w" specification="after delay ms" target="_UaGRcH1mEemAUoGJRzf10w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_UaGRcH1mEemAUoGJRzf10w" specification="entry / raise toc&#10;entry / x += 1" name="Toc" incomingTransitions="_UaGRc31mEemAUoGJRzf10w">
            <outgoingTransitions xmi:id="_Vx1gcH1mEemAUoGJRzf10w" specification="after delay ms" target="_SqDQIH1mEemAUoGJRzf10w"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>