<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_-_ezoL-hEeGY1JN0_LPdVA" specification="interface :&#13;&#10;var myBit1 : integer&#13;&#10;var myBit2 : integer&#13;&#10;&#13;&#10;var leftBitshift : integer&#13;&#10;var rightBitshift : integer&#13;&#10;var complementBitshift : integer&#13;&#10;&#13;&#10;var bitwiseAnd : integer&#13;&#10;var bitwiseOr : integer&#13;&#10;var bitwiseXor : integer&#13;&#10;&#13;&#10;in event e1&#13;&#10;" name="BitExpressions">
    <regions xmi:id="_-_ezo7-hEeGY1JN0_LPdVA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_-_n9mb-hEeGY1JN0_LPdVA">
        <outgoingTransitions xmi:id="_-_n9s7-hEeGY1JN0_LPdVA" target="_-_n9pL-hEeGY1JN0_LPdVA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-_n9pL-hEeGY1JN0_LPdVA" specification="entry / &#13;&#10;myBit1 = 5;&#13;&#10;myBit2 = 7" name="StateA" incomingTransitions="_-_n9s7-hEeGY1JN0_LPdVA">
        <outgoingTransitions xmi:id="_4tWWwMRNEeG2ApzwxmEQZA" specification="e1" target="_WycAkL-kEeG1VpJAB_S_mw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_WycAkL-kEeG1VpJAB_S_mw" specification="entry /&#13;&#10;leftBitshift =  myBit1&lt;&lt;1;&#13;&#10;rightBitshift = myBit1 &gt;&gt; 1;&#13;&#10;complementBitshift =  ~myBit1;&#13;&#10;&#13;&#10;bitwiseAnd = myBit1  &amp; myBit2;&#13;&#10;bitwiseOr = myBit1 | myBit2;&#13;&#10;bitwiseXor = myBit1 ^ myBit2&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;" name="StateB" incomingTransitions="_4tWWwMRNEeG2ApzwxmEQZA"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>