<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_wIQ60A_7EemsN6DMOsbGKQ" specification="@EventDriven&#10;// Use the event driven execution model.&#10;// Runs a run-to-completion step&#10;// each time an event is raised.&#10;// Switch to cycle based behavior&#10;// by specifying '@CycleBased(200)'&#10;// instead.&#10;&#10;@ChildFirstExecution&#10;// In composite states, execute&#10;// child states first.&#10;// @ParentFirstExecution does the opposite.&#10;&#10;interface:&#10;in event coin&#10;in event push" name="turnstile">
    <regions xmi:id="_wIlq8A_7EemsN6DMOsbGKQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_wJCW4A_7EemsN6DMOsbGKQ">
        <outgoingTransitions xmi:id="_wJJroA_7EemsN6DMOsbGKQ" target="_wJEzIA_7EemsN6DMOsbGKQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wJEzIA_7EemsN6DMOsbGKQ" name="Locked" incomingTransitions="_wJJroA_7EemsN6DMOsbGKQ _eKU5IA_8EemsN6DMOsbGKQ">
        <outgoingTransitions xmi:id="_ZoTfcA_8EemsN6DMOsbGKQ" specification="coin" target="_XQ_p0A_8EemsN6DMOsbGKQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XQ_p0A_8EemsN6DMOsbGKQ" name="Unlocked" incomingTransitions="_ZoTfcA_8EemsN6DMOsbGKQ">
        <outgoingTransitions xmi:id="_eKU5IA_8EemsN6DMOsbGKQ" specification="push" target="_wJEzIA_7EemsN6DMOsbGKQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>