<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_WsapkPf2EeGa_dr4uyV7Zg" specification="&#10;&#10;interface:&#10;&#10;&#9;in event e&#10;&#9;var guard : boolean = false&#10;&#9;var done : boolean = false" name="GuardedEntry">
    <regions xmi:id="_WsbQoPf2EeGa_dr4uyV7Zg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Wsb3s_f2EeGa_dr4uyV7Zg">
        <outgoingTransitions xmi:id="_Wsds6ff2EeGa_dr4uyV7Zg" target="_WsdF0vf2EeGa_dr4uyV7Zg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_WsdF0vf2EeGa_dr4uyV7Zg" specification="entry [guard] / &#10;&#9;done = true" name="A" incomingTransitions="_Wsds6ff2EeGa_dr4uyV7Zg _c3UsoPf2EeGa_dr4uyV7Zg">
        <outgoingTransitions xmi:id="_bueOMPf2EeGa_dr4uyV7Zg" specification="e" target="_awIWoPf2EeGa_dr4uyV7Zg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_awIWoPf2EeGa_dr4uyV7Zg" name="B" incomingTransitions="_bueOMPf2EeGa_dr4uyV7Zg">
        <outgoingTransitions xmi:id="_c3UsoPf2EeGa_dr4uyV7Zg" specification="e" target="_WsdF0vf2EeGa_dr4uyV7Zg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>