<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_aZtKsJkUEee9kvksWuCexw" specification="interface:&#10;// Define events and&#10;// and variables here. &#10;//Use CTRL + Space for content assist." name="NoTimeEvents">
    <regions xmi:id="_aZu_4pkUEee9kvksWuCexw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_aZ1tkZkUEee9kvksWuCexw">
        <outgoingTransitions xmi:id="_aZ5_AJkUEee9kvksWuCexw" target="_aZ27tJkUEee9kvksWuCexw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_aZ27tJkUEee9kvksWuCexw" name="StateA" incomingTransitions="_aZ5_AJkUEee9kvksWuCexw"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>