<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_t8csgEKGEeGR5uXS9urEyQ" name="TestExpressions" specification="namespace validexp&#10;internal :&#10;&#10;operation localOperation(integer, integer):integer&#10;var varA : boolean = true&#10;var varB : integer = 100&#10;var varC : real = 3.14&#10;var varD : string = &quot;text&quot;&#10;var varE : integer&#10;&#10;event evA&#10;event evB : boolean = true&#10;event evC : integer = 100&#10;event evD : real = 3.14&#10;event evE : string = &quot;text&quot;&#10;event evF = evB || evC&#10;&#10;interface A:&#10;var varA : boolean = true&#10;var varB : integer = 100&#10;var varC : real = 3.14&#10;var varD : string = &quot;text&quot;&#10;&#10;in event evA&#10;in event evB : boolean = true&#10;out event evC : integer = 100&#10;out event evD : real = 3.14&#10;out event evE : string = &quot;text&quot;&#10;&#10;entrypoint entryA&#10;&#10;exitpoint exitA" namespace="validexp">
    <regions xmi:id="_t8d6okKGEeGR5uXS9urEyQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_t8vncUKGEeGR5uXS9urEyQ">
        <outgoingTransitions xmi:id="_t8xcoUKGEeGR5uXS9urEyQ" target="_t8wOhEKGEeGR5uXS9urEyQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_t8wOhEKGEeGR5uXS9urEyQ" specification="entry / varC=5.0; raise A.evE;&#10;oncycle / A.varB += 1;&#10;after 100 ms / raise evA;&#10;exit / varA = false;" name="State A" incomingTransitions="_t8xcoUKGEeGR5uXS9urEyQ">
        <outgoingTransitions xmi:id="_x2k_wEKGEeGR5uXS9urEyQ" specification="evA, A.evA [varA &amp;&amp; A.evC == 100] / raise A.evD;" target="_wTuF4EKGEeGR5uXS9urEyQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wTuF4EKGEeGR5uXS9urEyQ" specification="entry / varB *=2;  varB/=2; varB = (varB+100)*varE;" name="State B" incomingTransitions="_x2k_wEKGEeGR5uXS9urEyQ"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>