<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_Gm0xQNS6Eem_zoXczaj-hg" specification="namespace events&#10;&#10;&#10;@EventDriven&#10;// Use the event driven execution model.&#10;// Runs a run-to-completion step&#10;// each time an event is raised.&#10;// Switch to cycle based behavior&#10;// by specifying '@CycleBased(200)'&#10;// instead.&#10;&#10;@ChildFirstExecution&#10;// In composite states, execute&#10;// child states first.&#10;// @ParentFirstExecution does the opposite.&#10;&#10;interface:&#10;// Define events&#10;// and variables here. &#10;// Use CTRL + Space for content assist.&#10;&#10;in event i : integer&#10;out event o : integer" namespace="events" name="OutEventWithPayload">
    <regions xmi:id="_Gm30k9S6Eem_zoXczaj-hg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Gm97MdS6Eem_zoXczaj-hg">
        <outgoingTransitions xmi:id="_GnAXcdS6Eem_zoXczaj-hg" target="_Gm-iR9S6Eem_zoXczaj-hg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Gm-iR9S6Eem_zoXczaj-hg" specification="i / raise o: valueof(i)*2" name="A" incomingTransitions="_GnAXcdS6Eem_zoXczaj-hg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>