<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_ACMPcP_HEeS_97o5WfR9VQ" specification="interface :&#13;&#10;in event evPressed&#13;&#10;in event evReleased&#13;&#10;operation readKey():integer&#13;&#10;operation publish(key:integer, isHold:boolean)&#13;&#10;&#13;&#10;&#13;&#10;" name="KeyDecoderHSM">
    <regions xmi:id="_ADvHkP_HEeS_97o5WfR9VQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_AHFWgP_HEeS_97o5WfR9VQ">
        <outgoingTransitions xmi:id="_YMukAP_LEeS_97o5WfR9VQ" specification="" target="_AHQ8sP_HEeS_97o5WfR9VQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AHQ8sP_HEeS_97o5WfR9VQ" specification="" name="Inactive" incomingTransitions="_f3zgsP_IEeS_97o5WfR9VQ _Bv8N4P_LEeS_97o5WfR9VQ _YMukAP_LEeS_97o5WfR9VQ">
        <outgoingTransitions xmi:id="_JdX7AP_IEeS_97o5WfR9VQ" specification="evPressed" target="_lnG68P_KEeS_97o5WfR9VQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fOCgEP_KEeS_97o5WfR9VQ" name="Active">
        <regions xmi:id="_fODuMP_KEeS_97o5WfR9VQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_lnG68P_KEeS_97o5WfR9VQ" specification="" name="Pressed" incomingTransitions="_JdX7AP_IEeS_97o5WfR9VQ">
            <outgoingTransitions xmi:id="_f3zgsP_IEeS_97o5WfR9VQ" specification="evReleased/publish(readKey(), false)" target="_AHQ8sP_HEeS_97o5WfR9VQ"/>
            <outgoingTransitions xmi:id="_6ZK0oP_KEeS_97o5WfR9VQ" specification="after 2 s" target="_miwD0P_KEeS_97o5WfR9VQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_miwD0P_KEeS_97o5WfR9VQ" specification="entry/publish(readKey(), true)" name="Hold" incomingTransitions="_6ZK0oP_KEeS_97o5WfR9VQ">
            <outgoingTransitions xmi:id="_Bv8N4P_LEeS_97o5WfR9VQ" specification="evReleased" target="_AHQ8sP_HEeS_97o5WfR9VQ"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>