<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_xNC4UEM7EeG-xr5kMvujEg" name="ExpressionError02" specification="internal:&#10;var A : boolean&#10;entry / A = true&#10;exit / A = false">
    <regions xmi:id="_xNDfYkM7EeG-xr5kMvujEg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_xNEGc0M7EeG-xr5kMvujEg">
        <outgoingTransitions xmi:id="_xNFUlkM7EeG-xr5kMvujEg" target="_xNEth0M7EeG-xr5kMvujEg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xNEth0M7EeG-xr5kMvujEg" name="A" incomingTransitions="_xNFUlkM7EeG-xr5kMvujEg"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>