<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_z1asQJ6iEeGR-6jhjFPx5A" specification="interface:&#13;&#10;var value:integer&#13;&#10;var v2 : boolean&#13;&#10;" name="AlwaysOncycle">
    <regions xmi:id="_z1asQ56iEeGR-6jhjFPx5A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_z1j2OZ6iEeGR-6jhjFPx5A">
        <outgoingTransitions xmi:id="_z1tnQJ6iEeGR-6jhjFPx5A" target="_z1tnMZ6iEeGR-6jhjFPx5A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_z1tnMZ6iEeGR-6jhjFPx5A" specification="entry /value = 0&#13;&#10;always /value +=1&#13;&#10;exit/ value=0" name="StateA" incomingTransitions="_z1tnQJ6iEeGR-6jhjFPx5A _vK2vsJ6kEeGaJ9hFM1hQaQ">
        <outgoingTransitions xmi:id="_U6t5MJ6jEeGR-6jhjFPx5A" specification="[value == 5]" target="_UkOEwJ6jEeGR-6jhjFPx5A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_UkOEwJ6jEeGR-6jhjFPx5A" specification="oncycle /value+=1" name="StateB" incomingTransitions="_U6t5MJ6jEeGR-6jhjFPx5A">
        <outgoingTransitions xmi:id="_vK2vsJ6kEeGaJ9hFM1hQaQ" specification="[value==5]" target="_z1tnMZ6iEeGR-6jhjFPx5A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>