<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_SauPcLw7EeSHlq6-_VhMYQ" specification="interface:&#13;&#10;alias inti : integer&#13;&#10;alias word : string&#13;&#10;var myVar : inti&#13;&#10;var myString : word&#13;&#10;in event myEvent&#13;&#10;" name="TypeAlias">
    <regions xmi:id="_SbH4ELw7EeSHlq6-_VhMYQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_SbnnULw7EeSHlq6-_VhMYQ">
        <outgoingTransitions xmi:id="_SbwKMLw7EeSHlq6-_VhMYQ" target="_SbqDkLw7EeSHlq6-_VhMYQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_SbqDkLw7EeSHlq6-_VhMYQ" specification="entry / myVar = 1 " name="Start" incomingTransitions="_SbwKMLw7EeSHlq6-_VhMYQ">
        <outgoingTransitions xmi:id="_UGTAcLw7EeSHlq6-_VhMYQ" specification="[myVar == 1]" target="_Tww1ULw7EeSHlq6-_VhMYQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Tww1ULw7EeSHlq6-_VhMYQ" specification="entry / &#13;&#10;myString = &quot;TypeSystem&quot;" name="Mid" incomingTransitions="_UGTAcLw7EeSHlq6-_VhMYQ">
        <outgoingTransitions xmi:id="_Io-zILw8EeSHlq6-_VhMYQ" specification="[myString == &quot;TypeSystem&quot;]" target="_IUyr0Lw8EeSHlq6-_VhMYQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_IUyr0Lw8EeSHlq6-_VhMYQ" specification="" name="Mid2" incomingTransitions="_Io-zILw8EeSHlq6-_VhMYQ">
        <outgoingTransitions xmi:id="_VhNp0Lw8EeSHlq6-_VhMYQ" specification="myEvent" target="_VIj5QLw8EeSHlq6-_VhMYQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_VIj5QLw8EeSHlq6-_VhMYQ" name="End" incomingTransitions="_VhNp0Lw8EeSHlq6-_VhMYQ"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>