<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_72u4oOSzEeOiVrie-SZr-g" specification="interface:&#13;&#10;var x : integer = 0" name="LocalReactions">
    <regions xmi:id="_73cqUOSzEeOiVrie-SZr-g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_735WQOSzEeOiVrie-SZr-g">
        <outgoingTransitions xmi:id="_74DuUOSzEeOiVrie-SZr-g" target="_737ygOSzEeOiVrie-SZr-g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_737ygOSzEeOiVrie-SZr-g" specification="[x == 0 ] / x+= 1" name="A" incomingTransitions="_74DuUOSzEeOiVrie-SZr-g"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>