<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_iCDrYD0iEea1N5W-aVnDNg" specification="interface:&#10;&#10;var floor:integer&#10;var current:integer&#10;var open:boolean&#10;in event floorSelected&#10;&#10;operation openDoors():void&#10;operation CloseDoors():void" name="elevator">
    <regions xmi:id="_Q0uAMD0jEeapKutuB_qlEw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Q0uAMT0jEeapKutuB_qlEw">
        <outgoingTransitions xmi:id="_Q0uAMj0jEeapKutuB_qlEw" specification="/floor=0;&#13;&#10;current=0" target="_Q0vOWT0jEeapKutuB_qlEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Q0vOWT0jEeapKutuB_qlEw" specification="" name="Doors Open" incomingTransitions="_Q0uAMj0jEeapKutuB_qlEw _Q00G4z0jEeapKutuB_qlEw">
        <outgoingTransitions xmi:id="_Q0vOWz0jEeapKutuB_qlEw" specification="floorSelected[floor!=current]/&#13;&#10;CloseDoors()" target="_Q0xqmT0jEeapKutuB_qlEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Q0xqmT0jEeapKutuB_qlEw" specification="entry/open=false" name="DoorsClosed" incomingTransitions="_Q0vOWz0jEeapKutuB_qlEw">
        <outgoingTransitions xmi:id="_Q00G0D0jEeapKutuB_qlEw" specification="[floor&gt;current]" target="_Q02jGD0jEeapKutuB_qlEw"/>
        <outgoingTransitions xmi:id="_Q00G1j0jEeapKutuB_qlEw" specification="[floor&lt;current||floor&gt;0]" target="_Q04_VT0jEeapKutuB_qlEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Q00G4T0jEeapKutuB_qlEw" name="moving">
        <outgoingTransitions xmi:id="_Q00G4z0jEeapKutuB_qlEw" specification="[floor==current]/openDoors()" target="_Q0vOWT0jEeapKutuB_qlEw"/>
        <regions xmi:id="_Q02jFz0jEeapKutuB_qlEw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_Q02jGD0jEeapKutuB_qlEw" specification="entry/current=&#13;&#10;current+1" name="MovingUp" incomingTransitions="_Q02jJD0jEeapKutuB_qlEw _Q00G0D0jEeapKutuB_qlEw">
            <outgoingTransitions xmi:id="_Q02jJD0jEeapKutuB_qlEw" specification="[floor&gt;current]" target="_Q02jGD0jEeapKutuB_qlEw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Q04_VT0jEeapKutuB_qlEw" specification="entry/current=&#13;&#10;current-1" name="MovingDown" incomingTransitions="_Q04_YT0jEeapKutuB_qlEw _Q00G1j0jEeapKutuB_qlEw">
            <outgoingTransitions xmi:id="_Q04_YT0jEeapKutuB_qlEw" specification="[floor&lt;current]" target="_Q04_VT0jEeapKutuB_qlEw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>