<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_ABVt4LVZEealIO_BFDutjw" specification="interface:&#10;var st: string" name="B_SCT">
    <regions xmi:id="_ABYxMLVZEealIO_BFDutjw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_ABdCobVZEealIO_BFDutjw">
        <outgoingTransitions xmi:id="_ABh7IbVZEealIO_BFDutjw" target="_ABe30bVZEealIO_BFDutjw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ABe30bVZEealIO_BFDutjw" specification="entry / st = &quot;YAKINDU STATECHART TOOLS STANDALONE!&quot;" name="StateA" incomingTransitions="_ABh7IbVZEealIO_BFDutjw"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>