<xmi:XMI xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0" xmi:version="2.0">
  <sgraph:Statechart xmi:id="_ZZoZIBfZEeiGpO_Zv28pVw" specification="import: &quot;HHead.h&quot;&#10;import: &quot;HHHead.hh&quot;&#10;import: &quot;HPPHead.hpp&quot;&#10;import: &quot;HXXHead.hxx&quot;&#10;import: &quot;INCHead.inc&quot;&#10;&#10;internal:&#10;var h:HHead&#10;var hh:HHHead&#10;var hpp:HPPHead&#10;var hxx:HXXHead&#10;var inc:INCHead&#10;&#10; " name="CHeader" domainID="com.yakindu.domain.c">
    <regions xmi:id="_ZZsDgxfZEeiGpO_Zv28pVw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_ZZw8ABfZEeiGpO_Zv28pVw">
        <outgoingTransitions xmi:id="_ZZ1NcRfZEeiGpO_Zv28pVw" target="_ZZyxMBfZEeiGpO_Zv28pVw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ZZyxMBfZEeiGpO_Zv28pVw" name="StateA" incomingTransitions="_ZZ1NcRfZEeiGpO_Zv28pVw"/>
    </regions>
  </sgraph:Statechart>
  </xmi:XMI>